
.animationContainer{

    top: 15vh;
    z-index: 20;
    width: 100vw;
    min-width: 100vw;
    // max-width: 52vw;
    height: 100%;
    border: 1px solid red;
    position: absolute;

 
}

.firstTextSliderSection{
    text-indent: 20px;
    color: white;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: bold;
    // font-size: min(100vw, 35px);
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.textSliderSection {
    @extend .firstTextSliderSection
}



// //@media only screen and (max-width: 1440px) {
//   //  .firstScreenText{
        
//     //    font-size: min(100vw, 35px);
//     }
// }




// @media only screen and (max-width: 768px){
//     .firstScreenText{
        
//         font-size: min(6vw, 16px);
//     }
// }

// @media only screen and (max-width: 425px)  {
//     .firstTextSliderSection{
        
        
//     }
// }
@media (min-width: 1200px){

    h1{
    font-size: 2.2rem;
}
    
}
.list-group-item{

    --bs-list-group-color: white;
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: rgba(255, 255, 255, 0.514);
    --bs-list-group-border-width: 3px;
}
// //TODO: the fucking text is not working fine